DOMAIN=example.com

SUPERSET_ADMIN_SUBDOMAIN=superset
AIRFLOW_SUBDOMAIN=airflow
GRAFANA_SUBDOMAIN=grafana

SUPERSET_UPSTREAM=superset:8088
SUPERSET_DASHBOARD_PATH=/superset/dashboard/itvacancies/?standalone=2
AIRFLOW_UPSTREAM=airflow-webserver:8080
GRAFANA_UPSTREAM=grafana:3000
