SUPERSET_PG_USER=superset
SUPERSET_PG_PASSWORD=superset
SUPERSET_PG_DB=superset

# изменить в prod
SUPERSET_SECRET_KEY=thisISaSECRET_1234

# Mapbox для карт
MAPBOX_API_KEY=

# логин/пароль Superset
SUPERSET_ADMIN_USERNAME=admin
SUPERSET_ADMIN_PASSWORD=admin
SUPERSET_ADMIN_FIRSTNAME=Admin
SUPERSET_ADMIN_LASTNAME=User
SUPERSET_ADMIN_EMAIL=admin@superset.local

# логин/пароль Grafana
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin

# для prod заменить на свой домен
GF_SERVER_ROOT_URL=http://localhost:3000
GF_SERVER_DOMAIN=localhost
GF_SECURITY_CSRF_TRUSTED_ORIGINS=
