# UID текущего пользователя
AIRFLOW_UID=1000

# Ключи шифрования
AIRFLOW__CORE__FERNET_KEY=
AIRFLOW__WEBSERVER__SECRET_KEY=

# для prod заменить на свой домен
AIRFLOW__WEBSERVER__BASE_URL=http://localhost:8080

AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@airflow-postgres/airflow

# совпадает с postgres/.env
AIRFLOW_CONN_POSTGRES_CONN=postgres://postgres:1234@app-postgres/vacstorage

# SMTP (опционально)
AIRFLOW__SMTP__SMTP_HOST=smtp.gmail.com
AIRFLOW__SMTP__SMTP_STARTTLS=True
AIRFLOW__SMTP__SMTP_SSL=False
AIRFLOW__SMTP__SMTP_USER=your@gmail.com
AIRFLOW__SMTP__SMTP_PASSWORD=
AIRFLOW__SMTP__SMTP_PORT=587
AIRFLOW__SMTP__SMTP_MAIL_FROM=your@gmail.com

# логин/пароль UI
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow

AIRFLOW_PG_USER=airflow
AIRFLOW_PG_PASSWORD=airflow
AIRFLOW_PG_DB=airflow
