# Adzuna API-ключи. Одна пара - одна квота.
# Получить: https://developer.adzuna.com/
Arguments {
    appIds  = ["your_app_id_1",  "your_app_id_2" ]
    appKeys = ["your_app_key_1", "your_app_key_2"]
}
